
.VideoPlayer {
    box-shadow: 10px 10px 2px 1px rgba(255,222,212, 2);
}

.title {
    text-align: center;
    font-size: 3rem;
    color:#D04C55;
}

.slogan {
    padding: 2rem;
    font-size: 1rem;
    color: gray;
}