ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 50px;
}

.current {
  font-size: 1.4rem;
  color: blue;
}

.link {
  transition: font-size 0.4s;
}
