.wrapper {
  background-color: #ffded4;
  padding: 1rem;
  max-width: 600px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 0.25rem 0 #767675;
}

.playlistLink {
  width: 100%;
}
.playlistCardDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  .playlistLink {
    font-size: 1.7rem;
  }
}

#playlistButton {
  align-self: inherit;
  margin: 0;
  margin-top: 20px;
}

.capsuleCardDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
#capsuleCss {
  font-size: 1.7rem;
  font-family: "Josefin Slab", serif;
  padding: 0.8rem;
}

.interactiveButtons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.btns {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: rgb(243, 137, 155);
  cursor: pointer;
}

.btns:hover {
  color: rgb(216, 42, 71);
  opacity: 80%;
}

.titleStudio {
  text-align: center;
  font-size: 3rem;
  color: #d04c55;
  padding-bottom: 2rem;
}

#noCapsule {
  font-size: 1.6rem;
  letter-spacing: 1px;
}
