.wrapper {
  background-color: #ffded4;
  padding: 1rem;
  max-width: 600px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 0.25rem 0 #767675;
}

.playlistLink {
  width: 100%;
}
.playlistCardDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  .playlistLink {
    font-size: 1.7rem;
  }
}

#playlistButton {
  margin-top: 2rem;
}

.capsuleCardDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

p {
  font-size: 1.7rem;
  font-family: "Josefin Slab", serif;
  padding: 0.8rem;
}

.interactiveButtons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
