.capsules {
    background-color: grey;
    width: 40vw;
}

.fakeImage {
    background-color: moccasin;
    width: 90%;
    height: 15vh;
    margin: auto;
    margin: 1rem;
}

.symbols {
    font-size: 2.5rem;
}

.logo {
    font-size: 5rem;
}
.texts {
    font-size: .8rem;
    padding: 0.5rem;
}

.titre1 {
    padding-top: 1.2rem;
}
.titre2 {
    padding-top: 0.5rem;
    color: #80807e;
}