.title_Create {
  text-align: center;
  font-size: 3rem;
  color: #d04c55;
}

#titleAudioInstructions {
  padding: 0.9rem;
  font-size: 1.5rem;
  color: gray;
  text-align: center;
}

.capsules {
  background-color: grey;
  width: 40vw;
}

.fakeImage {
  background-color: moccasin;
  height: 15vh;
  margin: auto;
  margin: 1rem;
}

.symbols {
  font-size: 2.5rem;
}

.logo {
  font-size: 5rem;
}
.texts {
  font-size: 0.8rem;
  padding: 0.5rem;
}

.titre1 {
  padding-top: 1.2rem;
}
.titre2 {
  padding-top: 0.5rem;
  color: #80807e;
}
